@import url("font.css");

/* Camphor font weight: 300-600 */

/* .ant-menu{background-color: red} */

/*  stripe's backgroundColor: 'rgb(247,249,252)', 
    regular blackText: rgb(84,95,125) or for more emphasized: rgb(50,51,90) */

:root{
    --mainTextColor: #32323c;
}

.headerText{ 
    font-size: 17px;
    font-family: 'Camphor';
    font-weight: 300;
    color: white 
}

#signInArrow{ 
    transition: padding 0.25s;
}

.headerItem:hover .headerText, .headerItem:hover .logoText{ 
    color: grey 
}

.headerItem:hover #signInArrow{
    padding: 6px;
}

.logoText{
    font-size: 22px;
    font-family: 'Camphor';
    font-weight: 600;
    color: white
}

#captionText{
    font-size: 25px;
    font-family: 'Camphor';
    font-weight: 300;
    color: var(--mainTextColor)
}

.main {
    display: flex;
}

.column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
}

.leftColumnText{
    font-size: 20px;
    font-family: 'Camphor';
    font-weight: 300;
    color: black
}

#calorieInput{
    font-size: 16px;
    font-family: 'Camphor';
    font-weight: 300;
    text-align: left;
}

.mealInput{
    font-size: 16px;
    font-family: 'Camphor';
    font-weight: 300;
    text-align: left; 
}

#macroSwitchText{
    font-size: 18px;
    font-family: 'Camphor';
    font-weight: 300;
    color: var(--mainTextColor);
}

#macroText{
    font-size: 16px;
    font-family: 'Camphor';
    font-weight: 300;
    color: var(--mainTextColor);
}

#macroNumbers{
    font-size: 15px;
    font-family: 'Camphor';
    font-weight: 300;
}

#generateButton{
    font-family: 'Camphor';
    font-weight: 400;
}

#mealCard{
    font-family: 'Camphor';
    font-weight: 600;
}

.camphorFont{
    font-family: 'Camphor';
}

a:link, a:visited{
    color:#707078;
}
a:hover, a:active{
    color: var(--mainTextColor);
}
