@import url("font.css");

/* Camphor font weight: 300-600 */

/* .ant-menu{background-color: #262130}  */

/*  stripe's backgroundColor: 'rgb(247,249,252)', 
    regular blackText: rgb(84,95,125) or for more emphasized: rgb(50,51,90) */

/* <meta name="viewport" content="width=device-width, initial-scale=1.0"> */

/* ant design dark mode header: rgb(4, 20, 40 */

:root{
    --mainTextColor: #32323c;
}

.headerText{ 
    font-size: 17px;
    font-family: 'Camphor';
    font-weight: 300;
    color: white 
}

#signInArrow{ 
    transition: padding 0.25s;
}

/* .headerItem:hover .headerText, .headerItem:hover .logoText{ 
    color: grey 
}

.headerItem:hover #signInArrow{
    padding: 6px;
} */

button{
    background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

.headerText:hover, .logoText:hover{ 
    color: grey 
}

.headerText:hover #signInArrow{
    padding: 6px;
}

.logoText{
    font-size: 22px;
    font-family: 'Camphor';
    font-weight: 600;
    color: white
}

#captionText{
    font-size: 25px;
    font-family: 'Camphor';
    font-weight: 300;
    color: var(--mainTextColor);
}

.row {
    display: flex;
}

.column {
    flex: 50%;
}

.inputArea {
    margin: 0 90px 0 0;
}

.leftColumn {
    flex: 50%;
    padding: 15px 0 0 0;
    text-align: right;
}

.rightColumn {
    flex: 50%;
    padding: 15px 0 0 90px;
}

/* when screen width is small enough, columns are stacked on top of each other */
/* ----------- 0px - 937px ----------- */
@media screen and (max-width: 937px) {
    .row {
        flex-direction: column;
    }
  
    .leftColumn {
        order: 1;
        margin: 0 auto;
        padding: 0;
    }
  
    .rightColumn {
        order: 2;
        margin: 30px auto 0 auto;
        padding: 0;
    }

    .inputArea {
        /* centers it a little better */
        margin: 0 70px 0 0;
    }
}

/* Condense menu to hamburger?? */
@media screen and (max-width: 750px) {
    .rowHeader div:not(.colHeaderL) {display: none;}
    .colHeaderL {
        
    }
}


.rowFooter {
    display: flex;
}

.colFooter {
    flex: 50%;
}

.rowHeader {
    display: flex;
}

.colHeaderL {
    min-width: 306px; 
}

.colHeaderMid {
    min-width: 250px;
}

.colHeaderR {
    min-width: 130px; 
}

.headerLRSpace {
    flex: 1 1 auto;
}

.headerCenterSpace {
    flex: 0 1 220px;
}


.leftColumnText{
    font-size: 20px;
    font-family: 'Camphor';
    font-weight: 300;
    color: var(--mainTextColor);
}

#calorieInput{
    font-size: 16px;
    font-family: 'Camphor';
    font-weight: 300;
    text-align: left;
}

.mealInput{
    font-size: 16px;
    font-family: 'Camphor';
    font-weight: 300;
    text-align: left; 
}

#macroSwitchText{
    font-size: 18px;
    font-family: 'Camphor';
    font-weight: 300;
    color: var(--mainTextColor);
}

#macroText{
    font-size: 16px;
    font-family: 'Camphor';
    font-weight: 300;
    color: var(--mainTextColor);
}

#macroNumbers{
    font-size: 15px;
    font-family: 'Camphor';
    font-weight: 300;
}

#generateButton{
    font-family: 'Camphor';
    font-weight: 400;
}

#mealCard{
    font-family: 'Camphor';
    font-weight: 600;
}

.camphorFont{
    font-family: 'Camphor';
}

a:link, a:visited{
    color:#707078;
}
a:hover, a:active{
    color: var(--mainTextColor);
}
